/* Elijo usar un enfoque desktop first puesto que el enunciado primero pide
que el sidebar este y que este se oculte al achicar la pantalla, en lugar de 
iniciar de algo mas simple a mas complejo, vamos de mas complejo a mas
simple. */

/* --- Estilos base: desktop --- */
.layout {
    display: grid;
    grid-template-areas:
        "header  header"
        "sidebar main"
        "footer  footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color:lightblue;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sidebar {
    grid-area: sidebar;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    grid-area: main;
    background-color: lightgray;
    border-radius: 10px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
        background-color:lightblue;
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* --- Breakpoint 1: tablets --- */
@media (max-width: 1024px) {
    .layout {
        grid-template-columns: 100px 1fr; /* sidebar más angosto */
    }
}

/* --- Breakpoint 2: celulares --- */
@media (max-width: 768px) {
    .layout {
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-columns: 1fr; /* una sola columna */
    }

    .sidebar {
        display: none; /* el sidebar desaparece */
    }
}