* {
  box-sizing: border-box;
  margin: 0;
}

.layout {
    display: grid;
    grid-template-areas:
        "header  header"
        "sidebar main"
        "footer  footer";
    grid-template-columns: 75px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color:lightblue;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sidebar {
    grid-area: sidebar;
    background-color: lightgray;
        border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    grid-area: main;
    background-color: lightgray;
    border-radius: 10px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
        background-color:lightblue;
    display: flex;
    justify-content: center;
    padding: 20px;
}